﻿@model AlaicWebApplication.DataTransfer.SocioDTO

@using (Html.BeginForm("Edit", "Socios", FormMethod.Post))
{
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					@ViewBag.PopupTitle
				</h4>
			</div>

            <div class="modal-body">

                @Html.HiddenFor(x => x.Id)

                <div class="form-group">
                    @Html.LabelFor(x => x.Apellido)
                    @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control input-sm", maxlength = 50, text = new { transform = "uppercase" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Nombres)
                    @Html.TextBoxFor(x => x.Nombres, new { @class = "form-control input-sm", maxlength = 50, text = new { transform = "uppercase" } })
                </div>


                <div class="form-group">
                    @Html.LabelFor(x => x.Sexo)
                    @Html.DropDownListFor(model => model.Sexo, new SelectList(new string[2] { "F", "M" }), htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.FechaNacimiento)
                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Domicilio)
                    @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.CodigoEstado)
                    @Html.DropDownListFor(model => model.CodigoEstado,
                        new SelectList(Html.GetEnumSelectList<AlaicWebApplication.DataTransfer.SocioDTO.EstadoEnum>(), "Value", "Text"),
                        htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.AñoIncorporacion)
                    @Html.EditorFor(model => model.AñoIncorporacion, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.InstitucionId)
                    @Html.EditorFor(model => model.InstitucionId, new { htmlAttributes = new { @class = "form-control" } })
                </div>


                <div class="form-group">
                    @Html.LabelFor(x => x.EmailAlternativo)
                    @Html.EditorFor(model => model.EmailAlternativo, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Pais)
                    @Html.DropDownListFor(model => model.Pais,
                                                new SelectList(Html.GetEnumSelectList<AlaicWebApplication.DataTransfer.SocioDTO.PaisEnum>(), "Value", "Text"),
                                                htmlAttributes: new { @class = "form-control"})
                </div>  

                <div class="form-group">
                    @Html.LabelFor(x => x.EsAsociacionNacional)
                    @Html.DropDownListFor(model => model.EsAsociacionNacional,
                                                    new SelectList(Html.GetEnumSelectList<AlaicWebApplication.DataTransfer.SocioDTO.AsociacionNacionalEnum>(), "Value", "Text"),
                                                    htmlAttributes: new { @class = "form-control" })
                </div>

            </div>

			@if (!ViewData.ModelState.IsValid)
			{
				<script type="text/javascript">
					var errors = @Html.Raw(Json.Serialize(string.Join(Environment.NewLine,ViewData.ModelState
                        .Where(x => x.Value.Errors.Count > 0)
                        .SelectMany(x => x.Value.Errors)
                        .Select(error => error.ErrorMessage))));
					bootbox.alert(errors);
				</script>
			}
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" id="btn-submit">Guardar</button>
			</div>
		</div>
    </div>
}