﻿@model Helpers.Pager<AlaicWebApplication.DataTransfer.SocioDTO>

@if (Model != null && Model.Count() > 0)
{
<table class="table table-striped table-bordered">

    <tr>
        <td style="width: 30px">ID</td>
        <td style="width: 120px">Apellido</td>
        <td style="width: 120px">E-mail</td>

        @*<td>
                <label class="sortorder" data-property="Username" href="#">
                    Cuenta
                    <span class="@ViewData["account_Username_sortorder_class"]"></span>
                </label>
            </td>*@
        <td style="width: 70px">Acciones</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Id)
            </td>
            <td>
                @Html.DisplayFor(x => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(x => item.Email)
            </td>
            <td>
                <a class="btn btn-primary btn-xs edition" data-url="@Url.Action("Edit", new { id = item.Id })" data-toggle="tooltip" data-placement="bottom" title="Editar">
                    <span class="fa fa-edit"></span>
                </a>

                <a class="btn btn-danger btn-xs deletion" data-url="@Url.Action("Delete", new { id = item.Id })" data-toggle="tooltip" data-placement="bottom" title="Eliminar">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
    }

</table>
    @Html.Raw(Model.ToHtml())
}
else
{
    <label>No se encontraron registros</label>
}