﻿@{
	ViewBag.Title = "Socios";
}
	<h2>Socios</h2>
<div class="panel panel-default">
	<div class="panel-heading">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-ex1-collapse">
					<span class="sr-only">Desplegar navegación</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <button class="btn btn-primary navbar-btn " id="btn-create" type="button" title="Registra un nuevo Socio" data-toogle="tooltip" data-placement="bottom">
                    <span class="fa fa-user"></span>&nbsp;&nbsp;Nuevo
                </button>

                <div class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" id="input-search" placeholder="Buscar">
                        <span class="input-group-btn">
                            <button type="button" id="btn-search" class="btn btn-primary">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="number" class="form-control" id="anio-search" placeholder="Buscar">
                    </div>
                </div>
            </div>
		</nav>
	</div>
	<div class="panel-body">
		<div class="table-responsive" id="items-list">
		</div>
	</div>
</div>

@section BodyScripts
	{
	<div id="modal-edit" class="modal fade">
	</div>

	<script>
		$(document).ready(function () {
			showList(null, null);
		});


		$(document).on('click', '#btn-search', function () {
			showList(null, null);
		});

		$(document).on('click', '.sortorder', function () {
			showList($(this).data('property'));
		});

		$(document).on('click', '.pagerbutton', function () {
			var page = $(this).data('pagenumber');
			showList(null, page);
		});

		function showList(orderedColumn, newPage) {
			//myApp.showPleaseWait();
			$.ajax({
				url: '/Socios/List',
				cache: false,
				type: 'GET',
                data: {
                    searchString: $('#input-search').val(), anio: $('#anio-search').val(), properties: 'Username', order: orderedColumn, page: newPage
                },
				success: function (html_content) {
					//myApp.hidePleaseWait();
					$('#items-list').html(html_content);
					$('#input-search').focus();
				},
				error: function (xhr, ajaxOptions, thrownError) {
					//myApp.hidePleaseWait();
					showError(xhr.status, xhr.responseText);
				}
			});
		}

		$(document).on('click', '#btn-create', function () {
			//myApp.showPleaseWait();
			$.ajax({
				url: '/Socios/Create',
				type: 'GET',
				success: function (html_content) {
					//myApp.hidePleaseWait();
					$('#modal-edit').html(html_content).modal('show');
				},
				error: function (xhr, ajaxOptions, thrownError) {
					//myApp.hidePleaseWait();
					(xhr.status, xhr.responseText);
				}
			});
		});

		$(document).on('click', '.deletion', function () {
			var sender = $(this);
			bootbox.confirm({
				message: '¿Desea eliminar la cuenta de usuario seleccionada?',
				buttons: { confirm: { label: 'Si' }, cancel: { label: 'No' } },
				callback: function (result) {
					if (result) {
						//myApp.showPleaseWait();
						$.ajax({
							url: sender.data('url'),
							type: 'POST',
							dataType: 'json',
							success: function (result) {
								//myApp.hidePleaseWait();
								if (result.success)
									showList(null, null);
								else
									bootbox.alert(result.message);
							},
							error: function (xhr, ajaxOptions, thrownError) {
								//myApp.hidePleaseWait();
								showError(xhr.status, xhr.responseText);
							}
						});
					}
				}
			});
		});

		$(document).on('click', '.edition', function () {
			var sender = $(this);
			//myApp.showPleaseWait();
			$.ajax({
				url: sender.data('url'),
				cache: false,
				type: 'GET',
				success: function (html_content) {
					//myApp.hidePleaseWait();
					$('#modal-edit').html(html_content).modal('show');
				},
				error: function (xhr, ajaxOptions, thrownError) {
					myApp.hidePleaseWait();
					showError(xhr.status, xhr.responseText);
				}
			});
		});

		$(document).on('click', '#btn-submit', function () {
			var sender = $(this);
			//myApp.showPleaseWait();
			$.ajax({
				url: '/Socios/Edit',
				cache: false,
				type: 'POST',
				data: sender.closest('form').serialize(),
				success: function (result) {
					//myApp.hidePleaseWait();
					if (result.success) {
						$('#modal-edit').modal('hide');
						showList(null, null);
					}
					else {
						$('#modal-edit').html(result);
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					//myApp.hidePleaseWait(); 
					showError(xhr.status, xhr.responseText);
				}
			});
		});
	</script>
}
