﻿@page "{searchString?}"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Creando un nuevo Socio.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Apellido"></label>
                <input asp-for="Input.Apellido" class="form-control" />
                <span asp-validation-for="Input.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Nombres"></label>
                <input asp-for="Input.Nombres" class="form-control" />
                <span asp-validation-for="Input.Nombres" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.FechaNacimiento"></label>
                <input asp-for="Input.FechaNacimiento" class="form-control" />
                <span asp-validation-for="Input.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Input.Sexo)
                @Html.DropDownListFor(x => x.Input.Sexo, new SelectList(new string[2] { "F", "M" }), htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Input.CodigoEstado)
                @Html.DropDownListFor(model => model.Input.CodigoEstado,
                    new SelectList(Html.GetEnumSelectList<AlaicWebApplication.DataTransfer.SocioDTO.EstadoEnum>(), "Value", "Text"),
                    htmlAttributes: new { @class = "form-control" })
            </div>

            <p>
                <select asp-for="tipoInstitucion" asp-items="Model.TiposInstituciones">
                    <option value="">All</option>
                </select>
                Title: <input type="text" asp-for="SearchString" />
                <input type="submit" value="Filter" />
            </p>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
