﻿@model AlaicWebApplication.DataTransfer.CuotaDTO

@using (Html.BeginForm("Edit", "Cuotas", FormMethod.Post))
{
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					@ViewBag.PopupTitle
				</h4>
			</div>

            <div class="modal-body">

                @Html.HiddenFor(x => x.Id)

                <div class="form-group">
                    @Html.LabelFor(x => x.Socio.Apellido)
                    @Html.TextBoxFor(x => x.Socio.Apellido, new { @class = "form-control input-sm", maxlength = 50, text = new { transform = "uppercase" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.AñoPagado)
                    @Html.TextBoxFor(x => x.AñoPagado, new { @class = "form-control input-sm", maxlength = 50, text = new { transform = "uppercase" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.TipoMoneda)
                    @Html.DropDownListFor(model => model.TipoMoneda,
                        new SelectList(Html.GetEnumSelectList<AlaicWebApplication.DataTransfer.CuotaDTO.TipoMonedaEnum>(), "Value", "Text"),
                        htmlAttributes: new { @class = "form-control" })
                </div>


                <div class="form-group">
                    @Html.LabelFor(x => x.FechaEmision)
                    @Html.EditorFor(model => model.FechaEmision, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaEmision, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.FechaVencimiento)
                    @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaVencimiento, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.FechaPago)
                    @Html.EditorFor(model => model.FechaPago, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaPago, "", new { @class = "text-danger" })
                </div>

            </div>



			@if (!ViewData.ModelState.IsValid)
			{
				<script type="text/javascript">
					var errors = @Html.Raw(Json.Serialize(string.Join(Environment.NewLine,ViewData.ModelState
                        .Where(x => x.Value.Errors.Count > 0)
                        .SelectMany(x => x.Value.Errors)
                        .Select(error => error.ErrorMessage))));
					bootbox.alert(errors);
				</script>
			}
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" id="btn-submit">Guardar</button>
			</div>
		</div>
    </div>
}