﻿@model Helpers.Pager<AlaicWebApplication.DataTransfer.CuotaDTO>

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped table-bordered">

        <tr>
            <td style="width: 30px">Socio</td>
            <td style="width: 30px">Año</td>
            <td style="width: 120px">Monto Pagado</td>
            <td style="width: 120px">Fecha Vencimiento</td>
            <td style="width: 120px">Fecha Pago</td>

            @*<td>
            <label class="sortorder" data-property="Username" href="#">
                Cuenta
                <span class="@ViewData["account_Username_sortorder_class"]"></span>
            </label>
        </td>*@
            <td style="width: 70px">Acciones</td>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Socio.Apellido)
            </td>

            <td>
                @Html.DisplayFor(x => item.AñoPagado)
            </td>

            <td>
                @Html.DisplayFor(x => item.Monto)
            </td>

            <td>
                @Html.DisplayFor(x => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(x => item.FechaPago)
            </td>
            <td style="width: 150px">
                <a class="btn btn-primary btn-xs edition" data-url="@Url.Action("Edit", new { id = item.Id })" data-toggle="tooltip" data-placement="bottom" title="Editar">
                    <span class="fa fa-edit"></span>
                </a>

                <a class="btn btn-danger btn-xs deletion" data-url="@Url.Action("Delete", new { id = item.Id })" data-toggle="tooltip" data-placement="bottom" title="Eliminar">
                    <span class="fa fa-trash"></span>
                </a>

                <a class="btn btn-danger btn-xs deletion" data-url="@Url.Action("Delete", new { id = item.Id })" data-toggle="tooltip" data-placement="bottom" title="Eliminar">
                    <span class="fa fa-trash"></span>
                </a>

                <a>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input name="cmd" type="hidden" value="_s-xclick" /><br />
                        <input name="hosted_button_id" type="hidden" value="VYQSK6SVXLL4C" /><br />
                        <input alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" name="submit" 
                               src="https://www.alaic.org/site/wp-content/uploads/2018/04/30USD.png" type="image" /><br />
                        <img src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />
                    </form>
                </a>
            </td>
        </tr>
        }

    </table>
    @Html.Raw(Model.ToHtml())
}
else
{
    <label>No se encontraron registros</label>
}